* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande";
}
  
a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}


/* ===== HEADER ===== */

header {
  height: 65px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  /* position :fixed;
  top: 0;
  z-index: 10; */
}

.fcontainer {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 70px;
}

.header-left h2 {
  color: black;
  margin: 0px 0px 0px 0px;
}

.red {
  padding-left: 5px;
  color: crimson;
}

.header-right ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.header-right a {
  line-height: 65px;
  padding:0 25px;
  text-align: center;
  margin-top: 0px;   
  color: black;
  background-color: grey;
  opacity: 0.8;
  display: block;
}

.clear {
  list-style: none;
}

.header-right a:hover{
  opacity: 1;
  color: white;
  transition: all .5s ease-in-out;
}

/* ===== WRAPPER ===== */

i {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper {
  padding: 180px 0 250px 0;
  margin: auto;
  background-image: url(https://img3.wallspic.com/previews/1/5/4/0/1/110451/110451-atmosphere-video_games-monochrome-monochrome_mode-night-x750.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.wrapper h2 {
  opacity: 0.7;
  font-size: 30px;
  letter-spacing: 3px;
}

.wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  letter-spacing: 1.5px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.email {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
  transition: all .5s ease-in-out;
}


/* ===== FOOTER ===== */

footer {
  width: 100%;
  height: 70px;
  padding: center;
  display: flex;
  letter-spacing: 0.7px;
  background-color: rgb(80, 80, 80);
}

footer p {
  padding: center;
  margin-top: 4px;
  color: white;
  font-size: 15px;
  font-family: none;
  text-align: center;
  opacity: 0.7;
}


/* ===== ABOUT ===== */

.foto-diri {
  width: 280px;
  height: 340px;
  margin-top: -50px;
  margin-left: 100px;
  float: left;
}

.perkenalan {
  text-align: left;
  padding-left: 450px;
}